.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #1da1f2; /* Twitter-like blue */
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
    border: none;
}

.navbar-dark .navbar-toggler-icon {
    filter: invert(100%);
}
